.tab {
  border-collapse: collapse;
  border: 3px solid grey;
  width: 500px;
  height: 500px;
}
th {
  border-top: 3px solid gray;
  border-left: 3px solid gray;
}
tr:last-child {
  background-color: brown;
}
tr:nth-child(even){
  background-color: yellow;
}
th:hover {
  border: 3px solid blue;
}
