@font-face {
  font-family: "Gotham Pro";
  src: url("GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"),
    url("GothamPro.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
}
.page {
  width: 1875px;
  height: 1080px;
  background: rgba(29, 32, 36, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
}
.left-header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #1d2024 0%, #18191d 100%);
  width: 1550px;
  height: 93px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.logo {
  margin: 11px 0 0 23px;
}
.button-1 {
  cursor: pointer;
  margin-top: 3px;
  margin-right: 636px;
}
.search {
  margin-right: 43px;
}
.search > form > p > input {
  border: 0px solid lightgrey;
  box-sizing: border-box;
  border-radius: 3px;
  width: 415px;
  height: 47px;
  background: #1d2024;
  background-image: url(/images/search.png);
  background-size: 3%;
  background-repeat: no-repeat;
  background-position-x: 388px;
  background-position-y: 18px;
  padding-left: 20px;
  padding-top: 4px;
}
::placeholder {
  color: #bdbdbd;
  font-size: 15px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
}
.line-1 {
  width: 44px;
  border: 2px solid #2a2b31;
  transform: rotate(90deg);
}
.online-pl > p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 21px;
  align-items: center;
  color: #f4ac26;
  padding-left: 49px;
}
.online-pl > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #ffffff;
  padding-left: 20px;
}
.right-header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #1d2024 0%, #18191d 100%);
  width: 312px;
  height: 93px;
  border-bottom: 2px solid lightgrey;
}
.profile-photo {
  padding: 4px 0 0 16px;
}
.name-bal {
  margin-right: 83px;
}
.name-bal > p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 0 3px 15px;
}
.name-bal > span {
  font-family: "Open Sans", sans-serif;
  color: #f4ac26;
  font-size: 18px;
  line-height: 21px;
  padding-left: 13px;
  font-weight: 900;
  letter-spacing: 0.029em;
}
.button-2 {
  cursor: pointer;
  margin-top: 3px;
}
.main {
  display: grid;
  grid-template-columns: 125px 925px 355px 335px;
  grid-template-rows: 0px 410px 467px;
  grid-gap: 43px;
  grid-template-areas:
    "nav . . ."
    "nav game profile played-games"
    "nav tops everyday-prize played-games";
}
.nav {
  margin-top: 0px;
  background-color: #1d2024;
  grid-area: nav;
}
.game {
  width: 125px;
  height: 108px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
  stroke: #4a4d50;
}
.game > svg {
  margin-right: 11px;
}
.game > span {
  position: absolute;
  margin: 55px 0 0 -59px;
  font-family: "Open Sans", sans-serif;
}
.game:hover {
  stroke: #fdcb0c;
  color: white;
  border-bottom: 1px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.team {
  width: 125px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.team > svg {
  margin: -23px 0 0 -25px;
  position: absolute;
}
.team > span {
  position: absolute;
  margin: 12px 0 0 -34px;
  font-family: "Open Sans", sans-serif;
}
.team:hover {
  stroke: #fdcb0c;
  color: white;
  border-bottom: 1px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.rate {
  width: 125px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.rate > svg {
  position: absolute;
  margin: -26px 0 0 -28px;
}
.rate > span {
  position: absolute;
  margin: 9px 0 0 -32px;
  font-family: "Open Sans", sans-serif;
}
.rate:hover {
  stroke: #fdcb0c;
  color: white;
  border-bottom: 1px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.ladder {
  width: 125px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.ladder > svg {
  position: absolute;
  margin: -29px 0 0 -28px;
}
.ladder > span {
  position: absolute;
  margin: 10px 0 0 -33px;
  font-family: "Open Sans", sans-serif;
}
.ladder:hover {
  stroke: #fdcb0c;
  color: white;
  border-bottom: 1px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.prize {
  width: 125px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.prize > svg {
  position: absolute;
  margin: -30px 0 0 -23px;
}
.prize > span {
  position: absolute;
  margin: 16px 0 0 -43px;
  font-family: "Open Sans", sans-serif;
}
.prize:hover {
  stroke: #fdcb0c;
  color: white;
  border-bottom: 1px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.ban {
  width: 125px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.ban > svg {
  position: absolute;
  margin: -28px 0 0 -23px;
}
.ban > span {
  position: absolute;
  margin: 13px 0 0 -36px;
  font-family: "Open Sans", sans-serif;
}
.ban:hover {
  stroke: #fdcb0c;
  color: white;
  border-bottom: 1px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.faq {
  width: 125px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.faq > svg {
  position: absolute;
  margin: -27px 0 0 -25px;
}
.faq > span {
  position: absolute;
  margin: 16px 0 0 -18px;
  font-family: "Open Sans", sans-serif;
}
.faq:hover {
  stroke: #fdcb0c;
  color: white;
  border-bottom: 1px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.create-game {
  display: grid;
  grid-template-columns: 925px;
  grid-template-rows: 50px 230px 130px;
  margin: 41px 0 0 -2px;
}
.create-game-label {
  display: flex;
  border: 1px solid #4a4d50;
}
.create-button {
  width: 465px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.create-button > span {
  font-family: "Open Sans", sans-serif;
  margin: 0 1px 0 0;
  font-size: 15px;
}
.create-button:hover {
  color: white;
  border-bottom: 2px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.add-button {
  width: 465px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.add-button > span {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0 1px 0 0;
}
.add-button:hover {
  color: white;
  border-bottom: 2px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.select-mode {
  background: rgba(29, 32, 36, 0.6);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);
  border-right: 1px solid #4a4d50;
  border-left: 1px solid #4a4d50;
}
.select-mode-text {
  font-family: "Open Sans", sans-serif;
  color: white;
  position: absolute;
  margin: 16px 0 0 20px;
  font-size: 14px;
}
.mods {
  display: flex;
}
.first-mode {
  width: 137px;
  height: 155px;
  background: #1b1d21;
  border-radius: 3px;
  margin: 54px 0 0 21px;
  border: 2px solid #4a4d50;
}
.first-mode:hover {
  background-image: url(/images/mode-back.png);
  border: 2px solid #ffd128;
}
.first-mode-title {
  color: #ffd128;
  font-family: "Gotham Pro";
  margin: 11px 0 0 43px;
  font-size: 14px;
}
.svg-1 {
  margin: 27px 0 0 33px;
}
.ready {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.41);
  margin: -8px 0 0 38px;
}
.second-mode {
  width: 215px;
  height: 155px;
  background: #1b1d21;
  border-radius: 3px;
  margin: 54px 0 0 18px;
  border: 2px solid #4a4d50;
}
.second-mode:hover {
  background-image: url(/images/mode-back.png);
  border: 2px solid #ffd128;
}
.second-mode-title {
  color: #ffd128;
  font-family: "Gotham Pro";
  margin: 11px 0 0 82px;
  font-size: 14px;
}
.players {
  display: flex;
}
.first-player {
  margin: 25px 0 0 24px;
}
.ready-2 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.41);
  margin: -6px 0 0 6px;
}
.second-player {
  margin: 25px 0 0 25px;
}
.ready-3 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.41);
  margin: -6px 0 0 15px;
}
.third-mode {
  width: 485px;
  height: 155px;
  background: #1b1d21;
  border-radius: 3px;
  margin: 54px 0 0 18px;
  border: 2px solid #4a4d50;
}
.third-mode:hover {
  background-image: url(/images/mode-back.png);
  border: 2px solid #ffd128;
}
.third-mode-title {
  color: #ffd128;
  font-family: "Gotham Pro";
  margin: 11px 0 0 183px;
  font-size: 14px;
  line-height: 16px;
}
.first-player-1 {
  margin: 26px 0 0 19px;
}
.ready-4 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.41);
  margin: -6px 0 0 5px;
}
.second-player-1 {
  margin: 26px 0 0 25px;
}
.ready-5 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.41);
  margin: -7px 0 0 15px;
}
.third-player {
  margin: 26px 0 0 25px;
}
.ready-6 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.41);
  margin: -6px 0 0 2px;
}
.make-bet {
  background: rgba(29, 32, 36, 0.6);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);
  border: 1px solid #4a4d50;
}
.make-bet-text {
  margin: 18px 0 0 21px;
  font-family: "Open Sans", sans-serif;
  color: white;
  position: absolute;
  font-size: 15px;
}
.bets {
  display: flex;
}
.first-bet {
  width: 78px;
  height: 53px;
  border: 2px solid #4a4d50;
  margin: 56px 0 0 22px;
  background: #1b1d21;
  border-radius: 3px;
}
.first-bet:hover {
  border: 2px solid #ffd128;
}
.first-bet > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  margin-right: 3px;
}
.second-bet {
  width: 78px;
  height: 53px;
  border: 2px solid #4a4d50;
  margin: 56px 0 0 22px;
  background: #1b1d21;
  border-radius: 3px;
}
.second-bet:hover {
  border: 2px solid #ffd128;
}
.second-bet > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  margin-right: 6px;
}
.third-bet {
  width: 78px;
  height: 53px;
  border: 2px solid #4a4d50;
  margin: 56px 0 0 22px;
  background: #1b1d21;
  border-radius: 3px;
}
.third-bet:hover {
  border: 2px solid #ffd128;
}
.third-bet > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  margin-right: 5px;
}
.four-bet {
  width: 78px;
  height: 53px;
  border: 2px solid #4a4d50;
  margin: 56px 0 0 22px;
  background: #1b1d21;
  border-radius: 3px;
}
.four-bet:hover {
  border: 2px solid #ffd128;
}
.four-bet > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  margin-right: 10px;
}
.line-2 {
  border-left: 2px solid #ffd128;
  height: 53px;
  margin: 56px 0 0 19px;
}
.bet-amount {
  margin: 55px 0 0 24px;
}
.bet-amount > form > p > input {
  width: 236px;
  height: 53px;
  background: #1b1d21;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0 0 0 15px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  border: none;
}
.line-3 {
  border-left: 2px solid #ffd128;
  height: 53px;
  margin: 56px 0 0 16px;
}
.start {
  width: 185px;
  height: 53px;
  background: linear-gradient(0deg, #ffd128 -38.68%, #ffae25 100%), #1b1d21;
  border-radius: 3px;
  border: none;
  margin: 55px 0 0 21px;
}
.start > span {
  font-size: 14px;
  color: #1c1e23;
  font-family: "Open Sans", sans-serif;
}
.top {
  height: 390px;
  display: grid;
  grid-template-columns: 925px;
  grid-template-rows: 50px 33px 45px 45px 45px 45px 45px 45px 36px;
  grid-area: tops;
  background: rgba(29, 32, 36, 0.5);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);
  border-radius: 3px;
  border: 1px solid #4a4d50;
  margin: -6px 0 0 -2px;
}
.top-label {
  display: flex;
}
.top-1x1 {
  width: 465px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.top-1x1 > span {
  font-family: "Open Sans", sans-serif;
  margin: 0 1px 0 0;
  font-size: 15px;
}
.top-1x1:hover {
  color: white;
  border-bottom: 2px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.top-5x5 {
  width: 463px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.top-5x5 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0 -3px 0 0;
}
.top-5x5:hover {
  color: white;
  border-bottom: 2px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.columns-names {
  display: flex;
  background-color: rgba(169, 169, 169, 0.3);
}
.columns-names > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.player-column {
  margin: 0 191px 0 75px;
}
.winrate-column {
  margin-right: 192px;
}
.rate-column {
  margin-right: 187px;
}
.data-row-1 {
  display: flex;
  background: rgba(29, 32, 36, 0.5);
}
.data-row-1 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.data-row-1 > img {
  height: 35px;
  margin: 3px 1px 0 0;
}
.num {
  margin: 14px 23px 0 17px;
}
.ava {
  margin: 7px 9px 0 0;
}
.nick {
  margin: 14px 178px 0 0;
}
.persent {
  margin: 14px 166px 0 0;
}
.rank-points {
  margin: 13px 156px 0 0;
}
.money {
  margin-top: 14px;
}
.data-row-2 {
  display: flex;
  background: rgba(42, 43, 49, 0.39);
}
.data-row-2 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.data-row-2 > img {
  height: 35px;
  margin: 3px 1px 0 0;
}
.num-2 {
  margin: 15px 23px 0 17px;
}
.ava-2 {
  margin: 9px 10px 0 0;
}
.nick-2 {
  margin: 14px 162px 0 0;
}
.persent-2 {
  margin: 14px 163px 0 0;
}
.rank-points-2 {
  margin: 15px 158px 0 0;
}
.money-2 {
  margin-top: 14px;
}
.data-row-3 {
  display: flex;
  background: rgba(29, 32, 36, 0.5);
}
.data-row-3 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.data-row-3 > img {
  height: 35px;
  margin: 3px 2px 0 0;
}
.num-3 {
  margin: 14px 25px 0 17px;
}
.ava-3 {
  margin: 7px 8px 0 0;
}
.nick-3 {
  margin: 14px 179px 0 0;
}
.persent-3 {
  margin: 14px 166px 0 0;
}
.rank-points-3 {
  margin: 13px 155px 0 0;
}
.money-3 {
  margin-top: 14px;
}
.data-row-4 {
  display: flex;
  background: rgba(42, 43, 49, 0.39);
}
.data-row-4 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.data-row-4 > img {
  height: 35px;
  margin: 5px 3px 0 0;
}
.num-4 {
  margin: 15px 23px 0 17px;
}
.ava-4 {
  margin: 9px 9px 0 0;
}
.nick-4 {
  margin: 16px 164px 0 0;
}
.persent-4 {
  margin: 15px 164px 0 0;
}
.rank-points-4 {
  margin: 15px 159px 0 0;
}
.money-4 {
  margin-top: 14px;
}
.data-row-5 {
  display: flex;
  background: rgba(29, 32, 36, 0.5);
}
.data-row-5 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.data-row-5 > img {
  height: 35px;
  margin: 5px 0 0 0;
}
.num-5 {
  margin: 14px 25px 0 17px;
}
.ava-5 {
  margin: 7px 6px 0 0;
}
.nick-5 {
  margin: 14px 175px 0 0;
}
.persent-5 {
  margin: 14px 163px 0 0;
}
.rank-points-5 {
  margin: 14px 160px 0 0;
}
.money-5 {
  margin-top: 14px;
}
.data-row-6 {
  display: flex;
  background: rgba(42, 43, 49, 0.39);
}
.data-row-6 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.num-6 {
  margin: 15px 17px 0 17px;
}
.ava-6 {
  margin: 7px 9px 0 0;
}
.nick-6 {
  margin: 16px 177px 0 0;
}
.persent-6 {
  margin: 15px 441px 0 0;
}
.money-6 {
  margin-top: 14px;
}
.more-rate {
  background: rgba(29, 32, 36, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #4a4c4f;
  padding-left: 387px;
  padding-top: 3px;
}
.profile {
  grid-area: profile;
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 50px 138px 186px 38px;
  width: 355px;
  height: 410px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background: rgba(29, 32, 36, 0.6);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);
  border-radius: 3px;
  margin: -7px 0 0 -6px;
}
.profile-title {
  width: 355px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.profile-title > span {
  font-family: "Open Sans", sans-serif;
  margin: 0 -7px 0 0;
  font-size: 15px;
}
.profile-title:hover {
  color: white;
  border-bottom: 2px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.profile-data {
  display: flex;
  background: rgba(42, 43, 49, 0.25);
}
.profile-ava > svg {
  margin: 24px 0 0 23px;
}
.data-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 26px 0 0 22px;
}
.status {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 8px 0 0 22px;
}
.status > svg {
  margin: 0 6px 0 0;
}
.profile-rank {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 13px 0 0 20px;
}
.profile-rank > img {
  position: absolute;
  width: 137px;
  height: 31px;
  left: 194px;
  top: 138px;
}
.winrate-title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 17px 0 0 24px;
}
.winrate-stats {
  display: flex;
  flex-wrap: wrap;
}
.winrate-stats > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 41px 0 0 19px;
}
.progress {
  background: #1b1d21;
  border: 1px solid #2a2b31;
  box-sizing: border-box;
  border-radius: 3px;
  height: 6px;
  width: 257px;
  position: relative;
  overflow: hidden;
  margin: 46px 0 0 -60px;
}
.progress::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 178px;
  background: linear-gradient(270deg, #ffd128 0%, #ffae25 100%), #1b1d21;
  border: 1px solid #008df2;
  border-radius: 3px;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5);
}
.stats {
  display: flex;
  flex-wrap: wrap;
}
.total-kills {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.57);
  margin: -41px 0 0 22px;
}
.total-kills-num {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  margin: -41px 0 0 52px;
}
.kd {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.57);
  margin: -41px 0 0 24px;
}
.kd-num {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  margin: -41px 0 0 47px;
}
.headshots {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.57);
  margin: -33px 0 0 23px;
}
.headshots-num {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  margin: -33px 0 0 55px;
}
.maps-played {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.57);
  margin: -33px 0 0 23px;
}
.maps-played-num {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  margin: -33px 0 0 36px;
}
.total-death {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.57);
  margin: -22px 0 0 23px;
}
.total-death-num {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  margin: -23px 0 0 34px;
}
.all-profile {
  background: rgba(29, 32, 36, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 131px;
  padding-top: 4px;
}
.every-day-prize {
  grid-area: everyday-prize;
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 50px 342px;
  width: 355px;
  height: 390px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background: rgba(29, 32, 36, 0.6);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);
  border-radius: 3px;
  margin: -2px 0 0 -5px;
}
.every-day-prize-title {
  width: 355px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #4a4d50;
  background-color: #1d2024;
  color: #4a4d50;
}
.every-day-prize-title > span {
  font-family: "Open Sans", sans-serif;
  margin: 0 -7px 0 0;
  font-size: 15px;
}
.every-day-prize-title:hover {
  color: white;
  border-bottom: 2px solid #fdcb0c;
  text-shadow: 0 0 10px #fdcb0c;
}
.every-day-prize-main {
  background: rgba(29, 32, 36, 0.6);
  background-image: url(/images/knife-back.png);
  background-position: top -11px left 4px;
  mix-blend-mode: normal;
  border-radius: 3px;
}
.every-day-prize-main > img {
  margin: 2px 0 0 67px;
}
.every-day-prize-title-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 15px 0 0 110px;
}
.time {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 3px 0 0 123px;
}
.knife-name {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #eb5757;
  margin: -1px 0 0 104px;
}
.cost {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 8px 0 0 67px;
}
.gold {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fdcb0c;
  margin: 0 0 0 -1px;
}
.played-games {
  grid-area: played-games;
  display: grid;
  grid-template-columns: 5px 315px;
  grid-template-rows: repeat(6, 129px);
  grid-gap: 17px;
  margin: -2px 0 0 -5px;
}
.vl {
  border-left: 5px solid #ffae25;
  border-radius: 2px;
  height: 127px;
}
.v2 {
  border-left: 3px solid #2e2f35;
  border-radius: 0px;
  height: 716px;
  margin-left: 1px;
}
.match-1 {
  display: flex;
  width: 305px;
  height: 124px;
  border: 1px solid;
  background: #24272b;
  background-image: url(/images/match-back-1.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 2px;
}
.match-1:hover {
  border: 1px solid #f9be16;
  background-image: url(/images/mode-back-2.png);
}
.player-1 > svg {
  margin: 12px 0 0 36px;
}
.player-1-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 3px 0 0 41px;
}
.player-1-money {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #f9be16;
  margin: -2px 0 0 30px;
}
.vs {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.23);
  margin: 35px 0 0 50px;
}
.score {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #ffffff;
  margin: -1px 0 0 36px;
}
.player-2 > svg {
  margin: 12px 0 0 41px;
}
.player-2-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 3px 0 0 44px;
}
.match-2 {
  display: flex;
  width: 305px;
  height: 124px;
  border: 1px solid;
  background: #24272b;
  background-image: url(/images/match-back-2.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 15px;
}
.match-2:hover {
  border: 1px solid #f9be16;
  background-image: url(/images/mode-back-2.png);
}
.player-3 > svg {
  margin: 15px 0 0 33px;
}
.player-3-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 2px 0 0 29px;
}
.player-4-money {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #f9be16;
  margin: -2px 0 0 31px;
}
.vs-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.23);
  margin: 38px 0 0 48px;
}
.score-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #ffffff;
  margin: -3px 0 0 28px;
}
.player-4 > svg {
  margin: 14px 0 0 32px;
}
.player-4-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 3px 0 0 34px;
}
.match-3 {
  display: flex;
  width: 305px;
  height: 124px;
  border: 1px solid;
  background: #24272b;
  background-image: url(/images/match-back-1.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 17px;
}
.match-3:hover {
  border: 1px solid #f9be16;
  background-image: url(/images/mode-back-2.png);
}
.player-5 > svg {
  margin: 15px 0 0 36px;
}
.player-5-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 2px 0 0 30px;
}
.player-5-money {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #f9be16;
  margin: -2px 0 0 29px;
}
.vs-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.23);
  margin: 37px 0 0 50px;
}
.score-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #ffffff;
  margin: -1px 0 0 35px;
}
.player-6 > svg {
  margin: 14px 0 0 40px;
}
.player-6-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 3px 0 0 45px;
}
.match-4 {
  display: flex;
  width: 305px;
  height: 124px;
  border: 1px solid;
  background: #24272b;
  background-image: url(/images/match-back-2.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 17px;
}
.match-4:hover {
  border: 1px solid #f9be16;
  background-image: url(/images/mode-back-2.png);
}
.player-7 > svg {
  margin: 15px 0 0 36px;
}
.player-7-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 2px 0 0 29px;
}
.player-8-money {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #f9be16;
  margin: -1px 0 0 31px;
}
.vs-4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.23);
  margin: 38px 0 0 48px;
}
.score-4 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #ffffff;
  margin: -2px 0 0 28px;
}
.player-8 > svg {
  margin: 14px 0 0 35px;
}
.player-8-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 2px 0 0 34px;
}
.match-5 {
  display: flex;
  width: 305px;
  height: 124px;
  border: 1px solid;
  background: #24272b;
  background-image: url(/images/match-back-1.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 17px;
}
.match-4:hover {
  border: 1px solid #f9be16;
  background-image: url(/images/mode-back-2.png);
}
.player-9 > svg {
  margin: 15px 0 0 36px;
}
.player-9-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 2px 0 0 31px;
}
.player-9-money {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #f9be16;
  margin: -2px 0 0 29px;
}
.vs-5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.23);
  margin: 38px 0 0 48px;
}
.score-5 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #ffffff;
  margin: -2px 0 0 35px;
}
.player-10 > svg {
  margin: 14px 0 0 39px;
}
.player-10-nick {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 3px 0 0 44px;
}
