.table {
  td {
    border: 1px solid black;
    padding: 20px;
  }
}
.buttons {
  button{
    width: 25px;
    height: 25px;
  }
  .arrowUp, .arrowDown, .arrowRight, .arrowLeft{
    background-color: gray;
  }
  .active{
    background-color: yellow;
  }
}
