  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data base</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8000/styles/main.css">
</head>
<body>
	<form name="addBook" class="bookName" >
        <br>
        <label>Book name</label>
        <input name="name" placeholder="Enter name">
        <label>Author name</label>
        <select name="selectAuthor" class="selectAuthor" multiple size="3"></select>
        <label>Genre</label>
        <select name="selectGenre" class="selectGenre" multiple size="3"></select>
        <button type="submit">Save</button>
    </form>
    <div class="informBook hidden">Book add</div>


    <form name="addAuthor" class="authorName" >
        <label>Add Author</label>
        <input name="name" placeholder="Enter author">

        <button type="submit">Save</button>
    </form>
    <div class="informAuthor hidden">Author add</div>


    <form name="addGenre" class="genre">
        <label>Add Ganre</label>
        <input type="text" name="name" placeholder="Enter genre">
        
        <button type="submit">Save</button>
    </form>
    <div class="informGenre hidden">Genre add</div>
    

    <script src="/js/acp/main.js"></script>
</body>
</html>