.header {
  width: 100%;
  display: flex;
  position: fixed;
  background: red;
  top: 0px;
  left: 0px;
  padding: 2px 5px;
}
.page{
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.menu{
  flex: 1;
  width: 100%;
}
.menu {
  display: flex;
}
nav{
  display: block;
}
.navi>ul{
  display: flex;
  list-style: none;
}
.navi>ul>li>a{
  font-weight: 500;
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.search{
  display: flex;
  align-items: center;
}
.introduction{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.intro{
  display: flex;
  flex-direction: column;
	flex: 1;
}
.intro + .intro {
	margin-left: 4%;
}
.main-info{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.info{
  display: flex;
  flex-direction: column;
	flex: 1;
}
.info + .info {
	margin-left: 4%;
}
.table{
  border: 2px solid #D3D3D3;
  border-collapse: collapse;
}
.table td, .table th {
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #D3D3D3;
  padding: 15px;
  text-align: center;
}
.modalback {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.modal {
  max-width: 500px;
  margin: 15% auto;
  padding: 50px;
  background: #fff;
}